body {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    color: #8ecae6;

}

.nav-link {
    display: flex;
    justify-content: center;
    font-size: larger;
}

.navbar-toggler{
    border: none;
}

@media screen and (max-width:992px) {
    .navbar-nav{
        padding-top: 30%;
    }
}

#particles-js{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #023047;
    padding-bottom: 0;
    z-index: -1;
}

.socialD{
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;

}

 .social{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.social li a{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #8ecae6;
}