:root{
    --easing: cubic-bezier(0.645,0.045,0.355,1);
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    --x: -8px;
    --y: -8px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #084a5b;
    border-radius: 10px;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #8ecae6;
    overflow: overlay;
    counter-reset: section;
}

img, svg{
    max-width: 100%;
}

svg{
    width: 100%;
    height: 100%;
    vertical-align:  middle;
}

svg.feather {
    fill: none;
}

@media screen and (max-width: 992px){
    .offcanvas {
    background: rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
    }
}

.nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: larger;
}



.navbar-nav{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.navbar-toggler{
    border: none;
}

.navbar-toggler:focus {
    -webkit-box-shadow: 0 0 0 0;
            box-shadow: 0 0 0 0;
}

@media screen and (max-width:992px) {
    .navbar-nav{
        padding-top: 30%;
    }
}

#particles-js{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: -o-linear-gradient(left bottom, #001219, #081f29, #0a2d39, #0a3b4a, #084a5b, #065566, #036072, #006c7d, #007684, #007f8b, #008991, #0a9396);
    background-image: --webkit-gradient(linear, left bottom, right top, from(#001219), color-stop(#081f29), color-stop(#0a2d39), color-stop(#0a3b4a), color-stop(#084a5b), color-stop(#065566), color-stop(#036072), color-stop(#006c7d), color-stop(#007684), color-stop(#007f8b), color-stop(#008991), to(#0a9396));
    background-image: linear-gradient(to right top, #001219, #081f29, #0a2d39, #0a3b4a, #084a5b, #065566, #036072, #006c7d, #007684, #007f8b, #008991, #0a9396);
    padding-bottom: 0;
    z-index: -1;
}

.socialD{
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    min-height: 70px;
    text-align: center;
}


.footer-social{
    display: none;
}

@media (max-width: 1150px){
    .footer-socialD{
        width: 100%;
        max-width: 270px;
        margin: 0px auto 10px;
    }
    .footer-social{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
        padding: 0px;
        margin: 0px;
        list-style: none;
    }
    .socialD{
        display: none;
    }
}

.socialD::after{
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #E9D8A6;
}

@media (max-width: 1080px){
    .socialD{
        left: 20px;
        right: auto;
    }
}

.social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
    -webkit-margin-before: 1em;
            margin-block-start: 1em;
    -webkit-margin-after: 1em;
            margin-block-end: 1em;
    -webkit-margin-start: 0px;
            margin-inline-start: 0px;
    -webkit-margin-end: 0px;
            margin-inline-end: 0px;
}

.social li a, .footer-social li a{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #8ecae6;
}

a{
    display: inline-block;
    text-decoration: none;
    -webkit-text-decoration-skip: ink;
            text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.hero{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-height: 100vh;
    height: 100vh;

}

section{
    margin: 0px auto;
    max-width: 1000px;
    min-width: none;
    padding-left: 25px;
    padding-right: 25px;
}

section:not(.hero){
    padding-top: 60px;
    padding-bottom: 60px;
}

.display-1{
    font-family: 'Nothing You Could Do', cursive;
    font-weight: 600;
    color: #EE9B00;
}

h2{
    line-height: 2;
    overflow-wrap: break-word;
    display: inline-block;
    word-break: break-word;
}

.greet-head{
    height: 60px;
}

.display-4{
    font-weight: 600;
    color: #CA6702;
}

.summary{
    color: #E9D8A6;
}

.numbered-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    white-space: nowrap;
    
}

.numbered-heading::before {
    position: relative;
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
    font-weight: 400;
    color: #CA6702;
}

.numbered-heading::after {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    content: "";
    display: block;
    position: relative;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #E9D8A6;
}

@media (max-width: 768px){
    .numbered-heading::after {
        width: 100%;
    }
}

.email-link {
    color: #CA6702;
    background-color: transparent;
    border: 1px solid #E9D8A6;
    border-radius: 4px;
    padding: 1.25rem 1.75rem;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    margin-top: 50px;
}

.fancy {
    position: relative;
    white-space: nowrap;
    &:after {
      --deco-height: 0.3125em;
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: calc(var(--deco-height) * -0.625);
      height: var(--deco-height);
      background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      background-size: auto 100%;
      background-repeat: round;
      background-position: 0em;
    }
  }

  .fancy-2 {
    font-family: 'Calligraffitti', cursive;
    font-weight: 700;
    font-size: 5rem;
    text-shadow: -15px 5px 20px #ced0d3;
    transform: translate(-50%,-50%);
    letter-spacing: 0.02em;
    text-align: center;
    color: #F9f1cc;
    text-shadow: 2px 2px 0px #FFB650, 
      4px 4px 0px #FFD662, 
      6px 6px 0px  #FF80BF, 
      8px 8px 0px #EF5097, 
      10px 10px 0px #6868AC, 
      12px 12px 0px #90B1E0;
  }


  #fancy-3 {
    color: #fff;
    font-family: 'Glory', sans-serif;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: 4px;
    text-shadow:
      calc(var(--x) * -1) calc(var(--y) * -1) 0px #ff92ee,
      calc(var(--x) * -2) calc(var(--y) * -2) 0px #fa6cff,
      calc(var(--x) * -3) calc(var(--y) * -3) 0px #d81dc4;
  }