body {
    scroll-behavior: smooth;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #8ecae6;

}

.nav-link {
    display: flex;
    justify-content: center;
    font-size: larger;
}

.navbar-toggler{
    border: none;
}

@media screen and (max-width:992px) {
    .navbar-nav{
        padding-top: 30%;
    }
}

#particles-js{
    position: absolute;
    height: 3025px;
    width: 100%;
    background-image: linear-gradient(to right top, #001219, #081f29, #0a2d39, #0a3b4a, #084a5b, #065566, #036072, #006c7d, #007684, #007f8b, #008991, #0a9396);
    padding-bottom: 0;
    z-index: -1;
}

.socialD{
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;

}

 .social{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.social li a{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #8ecae6;
}

.hero{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    height: 100vh;

}

section{
    margin: 0px auto;
    max-width: 1000px;
    padding-left: 25px;
    padding-right: 25px;
}

.display-1{
    font-family: 'Satisfy', cursive;
    font-weight: 600;
    color: #EE9B00;
}

h2{
    line-height: 2;
}

.greet-head{
    height: 60px;
}

.display-4{
    font-weight: 600;
    color: #CA6702;
}

.summary{
    color: #E9D8A6;
}

.numbered-heading {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    white-space: nowrap;
    
}

.numbered-heading::before {
    position: relative;
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
    font-weight: 400;
    color: #CA6702;
}

.numbered-heading::after {
    content: "";
    display: block;
    position: relative;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #E9D8A6;
}

@media (max-width: 768px){
    .numbered-heading::after {
        width: 100%;
    }
}


